<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/typeit.css">
    <!-- <link rel="stylesheet" href="/static/docsupport/style.css"> -->
    <link rel="stylesheet" href="/static/docsupport/prism.css">
    <link rel="stylesheet" href="/static/css/chosen.css">

    <script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <title>关系</title>
    <canvas id="Mycanvas" style="z-index:-1;position: fixed;"></canvas>
    <div class="container">
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-share-alt" aria-hidden="true"></i> 关系查询 <a href="https://github.com/sangyunxin/Test"><img src="static/image/github.png"></a></h3>
        </div>
        <div class="row">
            <!--head start-->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">

                        <!--搜索框-->
                        <form action="" method="get" id='searchRelationForm'>
                            {% csrf_token %}
                            <div class="row" style="margin-left: 18px">
                                <div class="input-group">
                                    <input type="text" id="user_text" name="user_text" class="form-control" aria-describedby="basic-addon1" autocomplete="off" style="display: none;">
                                    <select data-placeholder="请输入疾病名" class="chosen-select form-control" aria-describedby="basic-addon1" multiple tabindex="6">
                                        <option value=""></option>
                                        <optgroup label="
                                        Initials:A">
                                            <option>acute_coronary_syndromes</option>
                                            <option>acute_kidney_injury</option>
                                            <option>alcohol-use_disorders</option>
                                            <option>allergies</option>
                                            <option>anaphylaxis</option>
                                            <option>antibiotic_use</option>
                                            <option>anxiety</option>
                                            <option>arthritis</option>
                                            <option>asthma</option>
                                            <option>attention_deficit_disorder</option>
                                            <option>autism</option>
                                        </optgroup>
                                        <optgroup label="Initials:B">
                                            <option>bipolar_disorder</option>
                                            <option>bladder_cancer</option>
                                            <option>blood_and_bone_marrow_cancers</option>
                                            <option>blood_and_immune_system_conditions_general_and_other</option>
                                            <option>blood_conditions</option>
                                            <option>brain_cancers</option>
                                            <option>breast_cancer</option>
                                        </optgroup>
                                        <optgroup label="Initials:C">
                                            <option>cancer_general_and_other</option>
                                            <option>cardiovascular_conditions_general_and_other</option>
                                            <option>cataracts</option>
                                            <option>cerebral_palsy</option>
                                            <option>cervical_cancer</option>
                                            <option>cholelithiasis_and_cholecystitis</option>
                                            <option>chronic_fatigue_syndrome</option>
                                            <option>chronic_kidney_disease</option>
                                            <option>chronic_obstructive_pulmonary_disease</option>
                                            <option>coeliac_disease</option>
                                            <option>colorectal_cancer</option>
                                            <option>complications_of_cancer</option>
                                            <option>constipation</option>
                                            <option>contraception</option>
                                            <option>cystic_fibrosis</option>
                                        </optgroup>
                                        <optgroup label="Initials:D">
                                            <option>delirium</option>
                                            <option>dementia</option>
                                            <option>depression</option>
                                            <option>diabetes</option>
                                            <option>diabetic_foot</option>
                                            <option>diarrhoea_and_vomiting</option>
                                            <option>digestive_tract_conditions_general_and_other</option>
                                            <option>drug_misuse</option>
                                        </optgroup>
                                        <optgroup label="Initials:E">
                                            <option>ear_and_hearing_conditions</option>
                                            <option>ear_nose_and_throat_conditions_general_and_other</option>
                                            <option>eating_disorders</option>
                                            <option>eczema</option>
                                            <option>embolism_and_thrombosis</option>
                                            <option>endocrinal_nutritional_and_metabolic_conditions_general_and_other</option>
                                            <option>epilepsy</option>
                                        </optgroup>
                                        <optgroup label="Initials:F">
                                            <option>faecal_incontinence</option>
                                            <option>failure_to_thrive</option>
                                            <option>fertility</option>
                                            <option>feverish_illness</option>
                                            <option>fractures</option>
                                        </optgroup>
                                        <optgroup label="Initials:G">
                                            <option>gastro-oesophageal_reflux_including_barrett s_oesophagus</option>
                                            <option>glaucoma</option>
                                        </optgroup>
                                        <optgroup label="Initials:H">
                                            <option>headaches</option>
                                            <option>head_and_neck_cancers</option>
                                            <option>head_injuries</option>
                                            <option>healthcare-associated_infections</option>
                                            <option>heart_failure</option>
                                            <option>heart_rhythm_conditions</option>
                                            <option>heavy_menstrual_bleeding</option>
                                            <option>hepatitis</option>
                                            <option>hip_conditions</option>
                                            <option>hiv_and_aids</option>
                                            <option>hypertension</option>
                                        </optgroup>
                                        <optgroup label="Initials:I">
                                            <option>inflammatory_bowel_disease</option>
                                            <option>injuries_accidents_and_wounds_general_and_other</option>
                                            <option>intrapartum_care</option>
                                            <option>irritable_bowel_syndrome</option>
                                        </optgroup>
                                        <optgroup label="Initials:L">
                                            <option>lipid_disorders</option>
                                            <option>liver_conditions_general_and_other</option>
                                            <option>lower_urinary_tract_symptoms</option>
                                            <option>low_back_pain</option>
                                            <option>lung_cancer</option>
                                        </optgroup>
                                        <optgroup label="Initials:M">
                                            <option>macular_degeneration</option>
                                            <option>meningitis_and_meningococcal_septicaemia</option>
                                            <option>menopause</option>
                                            <option>mental_health_and_behavioural_conditions_general_and_other</option>
                                            <option>metastases</option>
                                            <option>metastatic_spinal_cord_compression</option>
                                            <option>motor_neurone_disease</option>
                                            <option>multiple_long-term_conditions</option>
                                            <option>multiple_sclerosis</option>
                                        </optgroup>
                                        <optgroup label="Initials:N">
                                            <option>nasal_conditions</option>
                                            <option>neuropathic_and_persistent_pain</option>
                                        </optgroup>
                                        <optgroup label="Initials:O">
                                            <option>obesity</option>
                                            <option>oesophageal_cancer</option>
                                            <option>oral_and_dental_health</option>
                                            <option>osteoporosis</option>
                                            <option>ovarian_cancer</option>
                                        </optgroup>
                                        <optgroup label="Initials:P">
                                            <option>pancreatic_cancer</option>
                                            <option>parkinson s_disease</option>
                                            <option>penile_and_testicular_cancer</option>
                                            <option>peripheral_circulatory_conditions</option>
                                            <option>personality_disorders</option>
                                            <option>pneumonia</option>
                                            <option>postnatal_care</option>
                                            <option>pregnancy</option>
                                            <option>pressure_ulcers</option>
                                            <option>prostate_cancer</option>
                                            <option>psoriasis</option>
                                            <option>psychosis_and_schizophrenia</option>
                                            <option>pulmonary_fibrosis</option>
                                        </optgroup>
                                        <optgroup label="Initials:R">
                                            <option>renal_cancer</option>
                                            <option>respiratory_infections</option>
                                        </optgroup>
                                        <optgroup label="Initials:S">
                                            <option>sarcoma</option>
                                            <option>self-harm</option>
                                            <option>sepsis</option>
                                            <option>sexually_transmitted_infections</option>
                                            <option>skin_cancer</option>
                                            <option>spasticity</option>
                                            <option>spinal_conditions</option>
                                            <option>stable_angina</option>
                                            <option>stomach_cancer</option>
                                            <option>stroke_and_transient_ischaemic_attack</option>
                                        </optgroup>
                                        <optgroup label="Initials:T">
                                            <option>transient_loss_of_consciousness</option>
                                            <option>trauma</option>
                                            <option>tuberculosis</option>
                                        </optgroup>
                                        <optgroup label="Initials:U">
                                            <option>upper_airways_tract_cancers</option>
                                            <option>upper_gastrointestinal_bleeding</option>
                                            <option>urinary_incontinence</option>
                                            <option>urinary_tract_infection</option>
                                        </optgroup>
                                        <optgroup label="Initials:V">
                                            <option>varicose_veins</option>
                                        </optgroup>
                                        </select>
                                    <span type="submit" class="btn btn-primary input-group-addon" id="SearchButton" style="padding:6px 38px">查询</span>
                                </div>
                            </div>
                        </form>
                        
                        <p>
                            {% if ctx %}
                            <div class = "col-md-12">
                                <div class="panel panel-default">
                                    <div class = "panel-body" style="text-align: center">
                                        <img src="/static/image/error.jpg">
                                        <h2>您似乎来到了没有知识的荒原！</h2>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if not ctx and not context %}
                            <div class = "col-md-12">
                                <p class="tp" style="font-family: LiSu; font-size: 25px"></p> 
                            </div>
                            {% endif %}


                            <!--relation start-->
                            {% if context %} 
                            <div class = "col-md-12">
                                <ul id="myTab" class="nav nav-tabs">
                                    {% for key,value in context.items %}
                                    {% if forloop.first %}
                                    <li class="active">
                                    {% else %}
                                    <li>
                                    {% endif %}
                                        <a href="#{{key}}" data-toggle="tab">
                                            {{key}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    {% for key,value in context.items %}
                                    {% if forloop.first %}
                                    <div class="tab-pane fade in active" id="{{key}}">
                                    {% else %}
                                    <div class="tab-pane fade" id="{{key}}">
                                    {% endif %}
                                    
                                        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                        <div class="panel panel-default ">
                                            <div class = "panel-body ">
                                                <div id="draw_{{key}}" style="width: 670px;height:700px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#selected" data-toggle="tab">选中节点</a>
                    </li>
                    <li>
                        <a href="#reactions" data-toggle="tab" id="getReaction">不良反应</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="selected" style="width: 370px;word-break: break-all;">
                        <table class="table table-bordered" id="select-node" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">id</th>
                                    <th style="text-align:center">治疗阶段</th>
                                    <th style="text-align:center">用药</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> <button class="btn btn-danger btn-small btn-block del" type="button">删除</button>
                        <div class="node-info"></div>
                    </div>
                    <!--div标签数随着用户点击节点数增加这个后面再做-->
                    <div class="tab-pane fade" id="reactions" style="text-align: center">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if context %}
        {% for key,value in context.items %}
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById("draw_{{key}}"));

            // 指定图表的配置项和数据
            var option = option = {
                title: {
                    text: ''
                },
                tooltip: {
                    confine: true,
                    position: 'bottom',
                    formatter: function (param) {
                        var html = "";
                        if(param.color != "#aaa"){
                            for (var index in param.data.value) {
                                if(index != "description" && index != "intention" && index != "drug"){
                                    html += "<tr><td width='50'>" + index + "</td><td width='50'>" + param.data.value[index]; +  "</td></tr>"
                                }  
                            }
                        
                            return "<table border='2'>" + html + "</table>";
                        }   
                    }
                },
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                legend: {
                    x: "right",
                    show: true,
                    data: ["disease", "treatment", "drug"]
                },
                series: [{
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 30,
                    focusNodeAdjacency: true,
                    roam: true,
                    categories: [{
                        name: "disease"
                    }, {
                        name: "treatment"
                    }, {
                        name: "drug"
                    }],
                    label: {
                        normal: {
                            position: "bottom",
                            show: true,
                            formatter: function (params){
                                if( params.name.length > 30)
                                    return params.name.substring(0,30) + '...';
                                else
                                    return params.name;
                            },
                        }
                    },
                    force: {
                        repulsion: 200,
                        edgeLength: 10
                    },
                    edgeSymbol: ['none', 'arrow'],
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (params){
                                if( params.value.length > 20)
                                    return params.value.substring(0,20) + '...';
                                else
                                    return params.value;
                            },
                        }
                    },
                    data: {{ value.nodes | safe}},
                    links: {{ value.links | safe}},
                    lineStyle: {
                        normal: {
                            opacity: 0.9,
                            width: 1,
                            curveness: 0
                        }
                    }
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

            myChart.on('click', function (params) {
                //console.log(params);
                html = "";
                drugs = "";
                for(var index in params.data.value){
                    if(index != "drug"){
                        html += "<tr><td style='width:85px'>" + index + "</td><td>" + params.data.value[index] + "</td></tr>";
                    }else{
                        for(var d in params.data.value["drug"])
                            drugs += d + "," + params.data.value["drug"][d] + ";";
                        drugs = drugs.trim();
                        html += "<tr><td>" + index + "</td><td style='max-height: 100px;overflow: hidden;'>" + drugs + "</td></tr>";
                    }  
                }
                
                $('.node-info').empty();
                $('.node-info').append("<HR style='border:1 dashed #987cb9' width='100%' color=#987cb9 SIZE=5><h5><b>节点属性</b></h5><table class='table table-bordered'><thead><tr><th style='text-align:center'>属性</th><th style='text-align:center'>值</th></tr></thead><tbody>" + html + "</tbody></table>");

                var flag = true;
                if(params.data.category == "treatment"){
                    $('#select-node').find('td').each(function() {
                        if ($(this).index() == "1") { // 假设要获取第一列的值
                            // console.log($(this).text());
                            if($(this).text() == params.data.id){
                                flag = false;
                            }
                        }
                    });
                    if(flag){
                        var tr = "<tr class='CaseRow'><td><input type='checkbox' /></td><td style='width:60px'>" + params.data.id + "</td><td>" + params.name + "</td><td>" + drugs + "</td></tr>";
                        $("#select-node").append(tr);//向table中追加tr
                    } 
                }  
            });
        </script>
        {% endfor %}
    {% endif %}

    <script src="/static/js/custom.js"></script>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/typeit.js"></script>
    <script src="/static/js/chosen.jquery.js" type="text/javascript"></script>
    <script src="/static/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $('.tp').typeIt({
            whatToType: ["我和宇宙之间有必然的联系吗？", "宇宙是否有尽头？", "时间是否有长短？", "过去的时间在哪里消失？", "未来的时间又在何处停止？", "我在这一刻提出的问题", "还是你刚才所看到的问题吗？"],
            typeSpeed: 100
        });
    </script>

    <!-- {% if query %}
    <script>
        var ss = "{{ query }}".split(",");
        //console.log(ss);
        $("option").each(function(){
            //console.log($(this).text());
            for(var i = 0; i < ss.length; i++){
                if($(this).text() === ss[i]){
                    $(this).contents().unwrap().wrap('<option selected/>');
                    break;
                }
            }
        })
    </script>
    {% endif %} -->
</body>
</html>